<h1 class="heading -large">{{ vm.title | ExampleFilter }}</h1>

<!--<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

<hr/>-->



<h4>A component</h4>
<example-component hero="vm.hero">Component not loaded</example-component>

<p>this card should repeat and take in the details from the service</p>

<div card-directive contacts="vm.contacts">Directive is not loaded.</div>

<!--<p>vm.contacts = {{vm.contacts}}</p>-->

<!--<ul>
    <li ng-repeat="contact in vm.contacts">{{contact.firstName}}</li>
</ul>-->
